<% content_for :title do %><%= current_user.email %><% end %>
<% content_for :header do %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Todos', root_path, class: 'brand' %>
        <ul class='nav pull-right'>
          <li><i class='icon-user icon-white'></i>&nbsp;<span class='navbar-text' data-current-user="<%= current_user.email %>"><%= current_user.email %></span></li>
          <li class='divider-vertical'></li>
          <li><%= link_to 'Sign out', sessions_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>

